 *{
    padding: 0px;
    margin: 0px;
    
    color: white;
}

.navbar{
    background-color: black;
     max-width: 100%;
     max-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.navbar a{
    text-decoration: none;

    
     
}


@media(max-width:768px){
    .navbar{
background-color: gray;
flex-direction: column;

    }
}



  */
