body, p,h1,h2{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

/* plans-pricing */
.plans-pricing{
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color:#F4F2FD;
    box-sizing: border-box;
    gap: 32px;
}

/* cards */
.card{
    width: 262px;
    height: fit-content;
    border-radius: 8px;
    background-color:#FFFFFF;
    padding-top: 50px;
    padding-left: 35px;
    color: #202842;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

.plan-name{
    font-size: 36px;
}

.prize{
    font-size:36px;
    font-weight: 100;
    margin: 12px 0;
}

.features{
    display: flex;
    align-items: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-left: -35px;
}

.btn{
    background-color: #202842;
    color: #ffffff;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px 35px;
    margin: 30px auto;
    border-color: transparent;
}

.dark{
    background-color: #202842;
    color: #ffffff;
}

.dark-btn{
    background-color: #ffffff;
    color: #202842;
}